body {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

.readView {
  position: fixed;
  left: 1%;
  width: 20%;
  border: 1px dashed #333333;
  overflow: auto;
  height: 100%;
  margin-top: 8rem;
}

.unreadView {
  position: fixed;
  overflow: auto;
  right: 1%;
  width: 20%;
  height: 100%;
  border: 1px dashed #333333;
  margin-top: 8rem;
}

.content {
  position: fixed;
  overflow: auto;
  border: 1px dashed #333333;
  width: 50%;
  height: 100%;
  left: 25%;
  margin-top: 8rem;
}

.article {
  list-style-type: none;
  cursor: pointer;

}

#header {
  display: inline;
  position: fixed;
  width: 100%;
  height: 10rem;
  margin-left: 4rem;
  font-size: 5rem;
  font-family: 'Pacifico', cursive;
  font-weight: bold
}