*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  height: 100%;
  min-height: 100%;
}

.readView {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  position: fixed;
  left: 0;
  width: 15rem;
  top: 4rem;
  bottom: 0;
  background: rgba(235, 235, 235, 0.9);
  margin: 0;
}

.unreadView {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  position: fixed;
  right: 0;
  width: 15rem;
  top: 4rem;
  bottom: 0;
  background: rgba(235, 235, 235, 0.9);
  margin: 0;
}

.unreadContent {
  padding: 0;
  margin: 0;
}

.readContent {
  padding: 0;
  margin: 0;
}

.contentView {
  overflow: auto;
  padding: 5rem 16rem 2rem;
  min-height: 100%;
}

@media screen and (max-width: 50rem) {
  .contentView {
    padding: 5rem 3rem 2rem;
    /*background: yellow;*/
    -webkit-transition: padding 0s 0.5s;
    -moz-transition: padding 0s 0.5s;
    transition: padding 0s 0.5s;
  }
  .unreadView {
    -webkit-transform: translate(15rem);
  }
  .readView {
    -webkit-transform: translate(-15rem);
  }
  .unreadView::after {
    content: '<';
    font-size: 3rem;
    color: white;
    position: absolute;
    display: block;
    width: 2rem;
    height: 4rem;
    left: -2rem;
    top: 0;
    background-color: black;
    background-color: rgba(0,0,0,0.25);
  }
  .readView::after {
    content: '>';
    font-size: 3rem;
    color: white;
    position: absolute;
    display: block;
    width: 2rem;
    height: 4rem;
    right: -2rem;
    top: 0;
    background-color: black;
    background-color: rgba(0,0,0,0.25);
  }
  .unreadView:hover {
    -webkit-transform: translate(0rem);
  }
  .readView:hover {
    -webkit-transform: translate(0rem);
  }
}

.article {
  list-style-type: none;
  cursor: pointer;
}

#header {
  display: inline;
  position: fixed;
  width: 100%;
  padding: 0;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  color: white;
  background: black;
  background: rgba(35,35,35,0.9);
  cursor: default;
}

.menuView {
  position: absolute;
  left: 0;
  display: inline-flex;
}

.menuView img {
  height: 4rem;
  padding: 10px;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  transition: 0.75s;
}

.menuView:hover img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  /*-webkit-transform: translate(0rem);*/
}

.menuContent {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  background-color: red;
  width: 15rem;
  position: fixed;
  left: -15rem;
  bottom: 0;
  top: 4rem;
}

.article {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(230, 245, 245, 1);
  display: inline-block;
  width: 100%;
  line-height: 3rem;
  vertical-align: middle;
  position: relative;
  height: 4rem;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid white;

}

